.gallery a {
    display: flex;
    
  }
 img:hover {
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
  }
  
  .sets .hide,
  .sets .pophide {
    width: 0%;
    opacity: 0;
  }
  
  .closeBtn {
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    right: 25px;
    top: 25px;
    color: white;
    transition: 0.5s linear;
    padding: 8px 40px;
    border-radius: 25px;
    background: hsl(222, 50%, 11%);
    outline-offset: -6px;
    outline: 2px solid #fff;
  }
  .closeBtn:hover {
    cursor: pointer;
    background: white;
    color: black;
    outline: 2px solid #000;
  }
  
  .openDiv {
    width: 100%;
    height: 100vh;
    background: #000000e7;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    z-index: 9999;
  }
  .imgPreview {
    width: 70%;
    object-fit: scale-down;
    max-height: 40vw;
    height: auto;
  }

  
  /* resposive CSS Code */
  
  @media (max-width: 1199px) {
    .section-padding {
      padding-top: 70px;
    }
  }
  @media (max-width: 991px) {
    .section-padding {
      padding-top: 50px;
    }
  }
  @media (max-width: 767px) {
  
    .img {
    width: 100%;
    height: 320px;
      
      
    }
    .closeBtn {
      padding: 6px 25px;
    }
    
  }
  
  @media (max-width: 540px) {
    
    
    .img {
        width: 100%;
        height: 320px;
   
    }
  
    .closeBtn {
      font-size: 18px;
      border-radius: 15px;
    }
    
    .imgPreview {
      width: 90%;
      max-height: 50vh;
      height: auto;
    }
    
  }