/********** Template CSS **********/


:root {
    --primary: hsl(222, 50%, 11%);
    --secondary: #0B2154;
    --light: #F2F2F2;
    --dark: #111111;
}
body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}


.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}


.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

.FieldInfo{
    color: rgb(251, 174, 44);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;

}
.CommentBlock{
background-color:#F6F7F9;
}

/*** Navbar ***/
   .custom-menu{
      min-width:10px;
    }

.navbar .dropdown-toggle::after {
    
    border: none;
    content: "\f107";
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}



.navbar-light .navbar-nav .nav-link {
    
    margin-right: 30px;
    margin-left: 12px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: blue;
}

@media (max-width: 990px) {
    
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
        
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
        
    }
    .logo{
        width:210px;        
        
    }
    
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
     .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

     .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
        
    }
    .logo{
        width:210px;        
        
    }
   
}


/*** Header ***/
.carousel-caption {
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    align-items: start;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 1400px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 100vh;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #header-carousel .carousel-item video{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
}
/* Features Section */
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color:black;
    margin-bottom: 1rem;
  
}
.icon:hover{
    color:gray;
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}

/* google translate */
.goog-te-banner-frame.skiptranslate, .goog-te-gadget-simple img{
    display: none !important;
}
.goog-tooltip{
    display: none !important;
}
.goog-tooltip:hover{
    display: none !important;
}
.goog-text-highlight{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}


.page-header-inner {
    background: rgba(0, 0, 0, .7);
    height: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Facts ***/
.fact {
    /*background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-bg-2.jpg);*/
    background-color: #111111;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}



.a-text{
    color: white;
    text-decoration: none;
}


/*** Service ***/
.service .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.service .nav .nav-link.active {
    background: var(--primary);
}

.service .nav .nav-link.active h4 {
    color: #FFFFFF !important;
}
.video-container {
    width: 49%;
    padding: 10px;
    background: white;
    display: inline-block;
  }
  
  .responsive-video {  
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  
  .responsive-video iframe, .responsive-video video {
    position: absolute;
    width: 100%;
    height: 100%;  
  }



/*** Booking ***/
.booking {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-bg-2.jpg) center center no-repeat;
    background-size: cover;
}

.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Footer ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(../img/carousel-bg-2.jpg) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
